flows (3).json
[{"id":"29010bfa.26fd34","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"47f2e248.94cfdc","type":"rpi-srf","z":"29010bfa.26fd34","name":"Sensor","topic":"","pulse":"","pins":"13,11","x":195,"y":240,"wires":[["726c6b3e.df6ba4","845ea901.5d1ef8"]]},{"id":"726c6b3e.df6ba4","type":"function","z":"29010bfa.26fd34","name":"Calculate Percentage","func":"var distance = parseInt(msg.payload);\nvar EmptyDist = 14 - distance;\nmsg.payload = parseInt((EmptyDist/11)*100);\n//msg.payload =(100- parseInt((temp/125)*100));\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["aee83937.3e6cf8","16406596.72737a","14f0355f.11c75b"]]},{"id":"aee83937.3e6cf8","type":"debug","z":"29010bfa.26fd34","name":"","active":false,"console":"false","complete":"false","x":755,"y":281,"wires":[]},{"id":"16406596.72737a","type":"ui_gauge","z":"29010bfa.26fd34","name":"","group":"ceaaa2c5.c0c45","order":0,"width":0,"height":0,"gtype":"wave","title":"Tank Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b52100","#e6e600","#42ca38"],"seg1":"","seg2":"","x":740,"y":191,"wires":[]},{"id":"14f0355f.11c75b","type":"function","z":"29010bfa.26fd34","name":"RELAY","func":"var value = parseInt(msg.payload);\nif(value >85)\n   { msg.payload = parseInt(1);\n    return msg;}\nif(value < 20)\n{    msg.payload = parseInt(0);\n    return msg;\n}\nreturn null;\n","outputs":1,"noerr":0,"x":307.5,"y":363,"wires":[["7a318a93.3e95c4"]]},{"id":"1ddc7fa1.a3465","type":"exec","z":"29010bfa.26fd34","command":"python3 /home/pi/Desktop/relay_on.py","addpay":true,"append":"input","useSpawn":"false","timer":"","oldrc":false,"name":"","x":625.5,"y":352.5,"wires":[[],[],[]]},{"id":"bb853347.63472","type":"exec","z":"29010bfa.26fd34","command":"python3 /home/pi/Desktop/relay_off.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":637.5,"y":440.5,"wires":[[],[],[]]},{"id":"7a318a93.3e95c4","type":"switch","z":"29010bfa.26fd34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":368.5,"y":440,"wires":[["bb853347.63472"],["1ddc7fa1.a3465"]]},{"id":"845ea901.5d1ef8","type":"function","z":"29010bfa.26fd34","name":"flow","func":"var input = parseInt(1)\nmsg.payload = parseInt(input)\nreturn msg;","outputs":1,"noerr":0,"x":183.5,"y":623,"wires":[["30484ed6.97fa62"]]},{"id":"30484ed6.97fa62","type":"exec","z":"29010bfa.26fd34","command":"python3 /home/pi/Desktop/waterflow.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":690.1666717529297,"y":669.7222347259521,"wires":[["621d742b.45366c"],[],[]]},{"id":"621d742b.45366c","type":"ui_gauge","z":"29010bfa.26fd34","name":"","group":"16f7e656.20027a","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":857.8571428571428,"y":575.7142857142857,"wires":[]},{"id":"ceaaa2c5.c0c45","type":"ui_group","z":"","name":"Tank","tab":"aab613c3.3702f","disp":true,"width":"6","collapse":false},{"id":"16f7e656.20027a","type":"ui_group","z":"","name":"Default","tab":"aab613c3.3702f","disp":true,"width":"6","collapse":false},{"id":"aab613c3.3702f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
